.index{
  background-color: darkblue;
}
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(97, 93, 93);
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
  border-radius: 50px;
  
}
.App-input{
  border-radius: 205px;
  color: rgb(22, 22, 22);
  width: 500px;
  padding: 15px;
  font-size: 30px;
}
.Help-header {
  background-color: rgb(141, 119, 119);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  border-radius: 50px;
}
.Help-input{
  border-radius: 205px;
  color: rgb(22, 22, 22);
  width: 500px;
  padding: 15px;
  font-size: 30px;
}
.button-input{
  border-radius: 250px;
  color: rgb(22, 22, 22);
  width: 500px;
  padding: 25px;
  font-size: 30px;
  background-color: rgb(92, 85, 86);
}
.row{
  border-width: 20px;
  background-color: rgb(97, 93, 93);
  padding: 10px;
  border-radius: 10px;
  min-height: 15vh;
  margin: 10px;
  min-height: 10vh;
  border: 0;
  border-top: 2px solid #999; 
  border-bottom: 2px solid #333;
}
.col{
 
  min-height: 5vh;
  padding-bottom: 5px;
  padding: 5px;
  text-align-last: center;
  border: 1px solid rgb(15, 15, 15);
  height: 3px;
}
thead tr th { 
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
}

.table-responsive { 
  height:200px;
  overflow:scroll;
}